<ion-content>
  <ion-card>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <!-- Mantenemos formControlName en el control específico -->
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-button type="submit" expand="block">Iniciar Sesión</ion-button>
      </ion-item>
      <ion-item>
        <ion-button>Ingresar con Google</ion-button>
      </ion-item>
    </form>
  </ion-card>
</ion-content>
